.logo{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.header{
    width: 100%;
    background-color: #6EBDEE;
    margin:0;
    position: fixed;
    z-index: 10;
}

body{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
.title{
    color: #FDFDFD;
    letter-spacing: 8px;
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
    padding: 16px;
    cursor: pointer;
}
#starling{
    width: 30%;
    padding-inline-start: 200px;
    display: inline;
}
.menu-items{
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    text-decoration: none;
}
#nav-bar{
    color: #FDFDFD;
    float: right;
    position: absolute;
    display: inline-flex;
    margin-left: 600px;
}
.fas{
    font-size: 22px;
    padding: 24px 12px;
}
.container{
    max-width: 1000px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    min-height: 480px;
    margin-left: 200px;
    margin-right: 200px;
}
.bannner-heading{
    font-size: 60px;
    margin-bottom: 0px;
}
.banner-paragragh{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.822);
}
.banner-btn{
    border: 4px solid #6EBDEE;
    padding: 8px;
    border-radius:8px;
    font-weight: 800;
    background-color: black;
    color:#FDFDFD;
}
.banner-btn:hover{
background-color: #6EBDEE;
cursor: pointer;
}
.bg-image{
    background-image: url("./Images/mountain_hiking.jpg");
    padding-top: 100px;   
}
.main{
    padding: 6rem 0;
}
.main-row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.col-1{
    width: 50%;
    padding-right: 16px;
    padding-left: 16px;
}
.para-1{
    font-size: 18px;
    text-transform: uppercase;
}
.heading{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.col-2{
    width:50%;
}
.para-2{
    font-size: 18px;
    line-height: 1.5;
}
.row-grid{
    display: flex;
    flex-wrap: wrap;
}
.grid{
    width: calc(33% - 30px);
    padding-right: 15px;
    padding-left:15px;
}
.square{
    display: flexbox;
    min-height: 300px;
    margin-bottom: 40px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.945);
    color:#FDFDFD;
    position:relative;
    justify-content: center;
    align-items: center;
}
.square-num{
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 30px;
    font-weight:800;
}
.square-text{
    position: absolute;
    text-align: center;
    letter-spacing: 4px;
    top: 20%;
    left: 5%;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    padding-right: 16px;
    padding-left: 16px;
}
.square-text-2{
    position: absolute;
    text-align: center;
    letter-spacing: 4px;
    top: 30%;
    left: 20%;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    padding-right: 16px;
    padding-left: 16px;
}
.description{
    line-height: 1.5;
}
.bg-image-2{
    background-image: url("./Images/img1.jpg");
    padding-top: 100px;   
}
.banner-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
.bannner-heading-1{
    font-size: 40px;
    margin-bottom: 0px;
    color:#FDFDFD;
}
.banner-paragragh-1{
    font-size: 20px;
    color: #FDFDFD;
    font-weight: 700;
    margin-bottom: 40px;
}
.banner-btn-1{
    border: 2px solid black;
    padding: 8px;
    border-radius:8px;
    font-weight: 800;
    background-color: white;
    color: black;
}
.banner-btn-1:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}
.footer{
    background-color:black;
    padding-top: 60px;
    padding-bottom: 30px;
}
.container-1{
    width: 100%;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 200px;
}
.footer-row{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}
.footer-left{
    width: 50%;
    text-align:left;
    margin-bottom: 16px;
}
.logo-1{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.title-1{
    color: #FDFDFD;
    letter-spacing: 8px;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    padding: 10px;
    cursor: pointer;
}
.footer-right{
    width: 50%;
    text-align:right;
    margin-bottom: 16px;
}
.fab{
    font-size: 29px;
    padding: 5px 8px;
    border: 2px solid black;
    background-color: white;
    position: absolute;
    margin-left: 26px;
    border-radius: 6px;
}
.fa-instagram-square{
    font-size: 29px;
    padding: 5px 8px;
    border: 2px solid black;
    background-color: white;
    position: absolute;
    margin-left: 100px;
    border-radius: 6px;
}
.products-grid{
   padding: 32px 0; 
}
.product-top{
    margin: 48px 0;
}
.product-top p{
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 20px;
}
.product-top h1{
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 1.5px;
}
.product-list{
    display:grid;
}

.prd-1{
    min-height: 435px;
    margin-bottom: 40px;
    border-radius: 4px;
    background-color:white;
    color:#FDFDFD;
    position:relative;
    justify-content: center;
    align-items: center;
    background-image: url("./Images/bagpacks.png");
    border: 1px solid rgba(128, 128, 128, 0.849);
    padding: 8px 16px;
    cursor: pointer;
}
.prd-info p span{
text-decoration: line-through;
color:#6EBDEE;
}
.prd-info p, span{
    font-weight: 600;
    text-align: center;
}
.prd-info h3{
    text-align: center;
}
.btn-main{
    text-align: center;
}
.button{
    padding: 4px 8px;
    background-color: #6EBDEE;
    color: #FDFDFD;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
}
.button:hover{
    background-color: black;
}
.prd-2{
    min-height: 450px;
    margin-bottom: 40px;
    border-radius: 4px;
    background-color:white;
    color:#FDFDFD;
    position:relative;
    justify-content: center;
    align-items: center;
    background-image: url("./Images/badmiton1.jpeg");
    border: 1px solid rgba(128, 128, 128, 0.849);
    cursor:pointer;
}
.prd-3{
    min-height: 433px;
    margin-bottom: 41px;
    border-radius: 4px;
    background-color:white;
    color:#FDFDFD;
    position:relative;
    justify-content: center;
    align-items: center;
    background-image: url("./Images/camping-tent.jpg");
    border: 1px solid rgba(128, 128, 128, 0.849);
    padding: 8px 16px;
    cursor:pointer;
}
hr{
    margin:  20px 0;
}
.more{
    text-align: center;
    margin: 40px 0;
}
.load-more{
    border: 2px solid black;
    padding: 8px 24px;
    border-radius:8px;
    font-weight: 800;
    background-color:black;
    color: white;
    cursor: pointer;
}
.load-more:hover{
    background-color: #6EBDEE;
}
.copyright{
    color:#FDFDFD;
    text-align: center;
}
#git{
    color: #6EBDEE;
    font-weight: 700;
    text-decoration: none;
}







